<config>
<connections>
<connection type="persistent">
<server>example.org</server>
<port>4090</port>
<username>LOGIN</username>
<password>XOR:S3CR3T</password>
<fingerprint>XX:XX:XX:XX:XX:XX:XX:XX:XX:XX</fingerprint>
<active>1</active>
</connection>
</connections>
</config>